## Series

In [1]:
import pandas as pd

series_test = pd.Series([100, 200, 300])

print(series_test)

0    100
1    200
2    300
dtype: int64

In [2]:
series_test2 = pd.Series({1999: 48,
                          2000: 65,
                          2001: 89})
print(series_test2)

1999    48
2000    65
2001    89
dtype: int64

## Data Frame

In [3]:
frame_test = pd.DataFrame({1999: [74, 38, 39], 
                           2000: [34, 32, 32], 
                           2001: [23, 39,23]})

print(frame_test)

   1999  2000  2001
0    74    34    23
1    38    32    39
2    39    32    23

In [4]:
frame_test2 = pd.DataFrame([[74, 38, 39], 
                            [34, 32, 32], 
                            [23, 39,23]], columns= [1999, 2000, 2001])
print(frame_test2)

   1999  2000  2001
0    74    38    39
1    34    32    32
2    23    39    23

In [7]:
el_universal = pd.read_csv('web_scraping/eluniversal_2020_08_03_articles.csv', encoding = "ISO-8859-1")
el_universal.head()

                                                body  title
0  \r\nLa censura y la desigualdad en el trabajo ...    NaN
1  \r\n\r\nEn el mundo las políticas populistas h...    NaN
2  \r\n\r\nA seis meses de que la Organización Mu...    NaN
3  \r\nAlgunas de las innovaciones más salvajes y...    NaN
4  \r\nLa versión oficial en el caso de Héctor Hu...    NaN